body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.me-3 {
  text-decoration: none;
}

.me-2 {
  border-radius: 50%;
}

.upBtn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999; 
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.downBtn{
  position: fixed;
  bottom: 20px;
  right: 60px;
  z-index: 999; 
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.btn-primary {
  background-color: #71C9EF!important ;
  border: none;
  color: black;
}
